<template>
  <div>
    <v-container style="font-size: 20px">
      <v-row>
        <v-col cols="2"></v-col>
        <v-col cols="8">
          <v-card>
            <v-img
              :src="formatMediaUrl(article.titleImage)"
              aspect-ratio="1.8"
              max-height="450"
              gradient="to top right, rgba(100,115,201,.33), rgba(25,32,72,.7)"
              class="white--text"
            >
              <v-card-title
                class="justify-center fill-height"
                style="font-size: 40px; line-height: 1.15;"
              >
                <h2 style="">{{ article.title }}</h2>
                {{ article.headline }}
              </v-card-title>
            </v-img>
          </v-card>
          <v-card>
            <v-card-title>
              <v-chip pill>
                <v-avatar left>
                  <v-img src="https://cdn.vuetifyjs.com/images/john.png" />
                </v-avatar>
                Иванов Иван Иваныч
              </v-chip>
              <span class="mx-2" style="font-size: 20px; color: grey;">{{
                formatDate(article.createArticleDate)
              }}</span>
            </v-card-title>
            <v-card-text>
              <div class="test">
                <div
                  style="font-size: 22px;  line-height: 1.35; "
                  v-html="article.text"
                ></div>
              </div>
              <span style="font-size: 18px">Тэги </span>
              <v-chip
                v-for="tag in article.tags"
                label
                color="pink"
                class="ma-2"
                style="color: white;"
              >
                <v-icon left>mdi-label</v-icon>
                {{ tag.name }}
              </v-chip>
            </v-card-text>
          </v-card>
        </v-col>
        <v-col cols="2"></v-col>
      </v-row>
      <v-spacer/>
      <v-flex>
        <report-to-vk />
      </v-flex>
    </v-container>
  </div>
</template>

<script>
import { GET_ARTICLE } from '../../graphql/query'
import utilsMixin from '../../utils/utilsMixin'
import reportToVk from '../../components/reportToVk'

export default {
  name: 'ArticleContent',
  mixins: [utilsMixin],
  components: {
    reportToVk
  },
  apollo: {
    article: {
      query: GET_ARTICLE,
      variables() {
        const articleId = this.$route.params.id
        return {
          articleId
        }
      },
      skip() {
        return !this.$route.params.id
      }
    }
  },
  methods: {}
}
</script>

<style scoped>
.test > img {
  min-width: 50px;
  max-width: 50px;
  width: 50px;
}
</style>
