<template>
  <v-card style="background-color: #dee4f3">
    <v-card-title>

      <div v-if="grant" style="display: flex" class="mb-auto">
        <v-container>
          <v-layout row wrap>
            <v-flex v-if="grant" class="margin">
              <v-card height="500px" width="700px" class="background">
                <div class="description">
                  <div class="mx-auto">{{ grant.name }}</div>
                </div>
                <div class="amount">
                  Грант {{ grant.amount }} ₽
                </div>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </div>

      <div style="padding-left: 50px; padding-right: 50px; flex: 1; margin-bottom: auto" v-if="grant">
        <div>
          <div class="mb-2 mt-4" style="display: flex">
            <div style="font-weight: bold">
              {{ grant.title }}
            </div>
            <v-spacer/>
            <div style="margin-top: -8px">
              <v-btn color="success">Подать заявку</v-btn>
              <v-btn
                v-if="!checkTestUser"
                @click="checkClick" :color="showDescription ? 'success' : ''" style="width: 118px">{{checkClickTitle}}</v-btn>
              <v-btn
                v-else
                @click="checkClick" color="success" style="width: 118px">Утвердить
              </v-btn>
            </div>

          </div>
        </div>
        <hr class="mb-2">

        <transition name="description">
          <div v-if="showDescription" style="font-size: 11pt; text-align:justify;">{{ grant.description }}</div>
        </transition>

        <transition name="applicants-list">
          <div v-if="showApplicants">
            <v-card style="display: flex">
              <div class="pl-2">
                <div>Гордеев</div>
                <div>Михаил Сергеевич</div>
              </div>
              <v-spacer/>
              <v-checkbox v-model="checkTestUser" class="mr-3"></v-checkbox>

            </v-card>
          </div>


        </transition>


      </div>
    </v-card-title>
  </v-card>
</template>

<script>
  import gql from 'graphql-tag'
  import _ from 'lodash'

  export default {
    data () {
      return {
        grant: null,
        showDescription: true,
        showApplicants: false,
        checkTestUser: false
      }
    },
    apollo: {
      getGrant: {
        query: gql`
        query($grantId: String!) {
          getGrant(grantId: $grantId)
          {
            id
            name
            amount
            description
            title
          }
        }
        `,
        variables() {
          return {
            grantId: this.$route.params.id
          }
        },
        prefetch: false,
        update(data) {
          this.grant = _.cloneDeep(data.getGrant)
        },
        skip() {
          return !this.$route.params.id
        }
      }
    },
    computed: {
      checkClickTitle() {
        if (this.showDescription) {
          return 'Оценить'
        }
        return 'Отменить'
      }
    },
    methods: {
      checkClick () {
        if (this.showDescription) {
          this.showDescription = false
          setTimeout(() => {
            this.showApplicants = true
          }, 400)
        } else {
          this.showApplicants = false
          setTimeout(() => {
            this.showDescription = true
          }, 400)
        }
      }

    }
  }
</script>

<style scoped>
  .margin {
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
  }

  .background {
    background-image: url(https://ivbg.ru/wp-content/uploads/2016/04/45675.jpg);
    background-position: center center;
    background-size: 100%;
  }

  .description {
    position: absolute;
    left: 10px;
    top: 5px;
    right: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 15pt;
    text-shadow: 3px 3px 3px black;
    padding: 10px;
  }

  .amount {
    position: absolute;
    right: 10px;
    bottom: 5px;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 17pt;
    text-shadow: 3px 3px 3px black;
    padding: 10px;
  }

  .description-enter-active {
    transition: all .4s ease;
  }
  .description-leave-active {
    transition: all .3s
  }
  .description-enter, .description-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }


  .applicants-list-enter-active {
    transition: all .4s ease;
  }
  .applicants-list-leave-active {
    transition: all .3s
  }
  .applicants-list-enter, .applicants-list-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
</style>