<template>
  <v-flex xs12 :class="classes">
    <v-card
      :height="value.prominent ? 450 : 350"
      color="grey lighten-1"
      dark
      @click="$router.push(`/article/${value.id}`)"
    >
      <v-img
        :src="formatMediaUrl(value.titleImage)"
        height="100%"
        gradient="rgba(0, 0, 0, .42), rgba(0, 0, 0, .42)"
      >
        <v-layout v-if="!value.prominent" fill-height wrap text-xs-right ma-0>
          <v-flex xs12>
            <v-chip
              v-for="(tag, i) of value.tags"
              :kei="i"
              label
              class="mx-1 mb-2 text-uppercase"
              color="pink"
              text-color="white"
              small
              @click.stop=""
            >
              <v-icon left>mdi-label</v-icon>
              {{ tag.name }}
            </v-chip>
            <h2 class="title font-weight-bold mb-2">
              <span style="font-size: 36px">{{ value.title }}</span>
            </h2>
            <h3 class="title font-weight-bold mb-2">
              {{ value.headline }}
            </h3>
            <div class="caption">
              {{ value.username }}<br />Дата:
              {{ formatDate(value.createArticleDate) }}
            </div>
          </v-flex>
          <v-flex align-self-end>
            <v-row>
              <v-chip
                class="text-uppercase ma-0"
                color="primary"
                label
                small
              >
                Читать далее
              </v-chip>
              <v-spacer />
              <v-chip label class="mx-4" @click.stop="like(value.id)">
                {{ value.likes }}
                <v-icon right>mdi-thumb-up-outline</v-icon>
              </v-chip>
            </v-row>
          </v-flex>
        </v-layout>
      </v-img>
    </v-card>
  </v-flex>
</template>

<script>
import utilsMixin from '../utils/utilsMixin'
export default {
  mixins: [utilsMixin],
  props: {
    size: {
      type: Number,
      required: true
    },
    value: {
      type: Object,
      default: () => ({})
    }
  },

  computed: {
    classes() {
      return {
        md6: this.size === 2,
        md4: this.size === 3
      }
    }
  }
}
</script>

<style>
.v-image__image {
  transition: 0.3s linear;
}
</style>
