<template>
  <v-container grid-list-xl class="pt-0">
    <v-layout wrap>
      <v-flex xs12>
        <slot />
      </v-flex>

      <feed-card
        v-for="(article, i) in paginatedArticles"
        :key="article.title"
        :size="layout[i]"
        :value="article"
      />
    </v-layout>

    <v-layout align-center>
      <v-flex xs3>
        <v-btn
          v-if="page !== 1"
          class="ml-0"
          title="Previous page"
          square
          @click="page--"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </v-flex>

      <v-flex xs6 text-xs-center subheading>
        СТРАНИЦА {{ page }} ИЗ {{ pages }}
      </v-flex>

      <v-flex xs3 text-xs-right>
        <v-btn
          v-if="pages > 1 && page < pages"
          class="mr-0"
          title="Next page"
          square
          @click="page++"
        >
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// Utilities
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'Feed',

  components: {
    FeedCard: () => import('../components/FeedCard')
  },

  data: () => ({
    layout: [2, 2, 1, 2, 2, 3, 3, 3, 3, 3, 3],
    page: 1
  }),

  computed: {
    ...mapState(['articles']),
    pages() {
      return Math.ceil(this.$store.state.totalCount / 11)
    },
    paginatedArticles() {
      const start = (this.page - 1) * 11
      const stop = this.page * 11
      console.log(this.articles.slice(start, stop))
      return this.articles.slice(start, stop)
    }
  },

  watch: {
    page(newVal) {
      // this.$store.dispatch('getPagedArticles', { page: newVal, offset: 11 })
      window.scrollTo(0, 0)
    }
  },
}
</script>
