<template>
  <div>
    <div id="button_vk">

    </div>
  </div>
</template>

<script>
  export default {
    name: 'reportToVk',
    props: {
      link: {
        type: String,
        default: ''
      },
      text: {
        type: String,
        default: 'Поделиться'
      }
    },
    mounted() {
      let head = document.getElementsByTagName('head')[0]
      let script = document.createElement('script')
      script.setAttribute('type', 'text/javascript')
      script.setAttribute('src', 'https://vk.com/js/api/share.js?95')
      script.setAttribute('charset', 'windows-1251')
      head.appendChild(script)

      setTimeout(() => {
        let url = this.link || this.$router.url
        document.getElementById('button_vk').innerHTML = VK.Share.button(url,
          {
            type: 'custom',
            text: '<img src=\"https://vk.com/images/share_32.png\" width=\"64\" height=\"64\" />'
          });
      }, 1000)
    }
  }
</script>

<style scoped>

</style>
