<template>
  <v-navigation-drawer
    v-model="drawer"
    app
    dark
    temporary
  >
    <v-list>
      <v-list-item
        @click="goToRoute('index')"
      >
        <v-list-item-title v-text="'Лента'" />
      </v-list-item>
      <v-list-item
        @click="goToRoute('hot')"
      >
        <v-list-item-title v-text="'Интересное'" />
      </v-list-item>
      <v-list-item
        @click="goToRoute('my_news')"
      >
        <v-list-item-title v-text="'Мои новости'" />
      </v-list-item>
      <v-list-item
        @click="goToRoute('grants')"
      >
        <v-list-item-title v-text="'Гранты'" />
      </v-list-item>
      <v-list-item
        @click="goToRoute('search')"
      >
        <v-list-item-title v-text="'Поиск'" />
      </v-list-item>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
  // Utilities
  import {
    mapGetters,
    mapMutations
  } from 'vuex'

  export default {
    name: 'CoreDrawer',

    computed: {
      ...mapGetters(['links']),
      drawer: {
        get () {
          return this.$store.state.drawer
        },
        set (val) {
          this.setDrawer(val)
        }
      }
    },

    methods: {
      ...mapMutations(['setDrawer']),
      goToRoute(route) {
        this.$router.push({name: route})
      },
      onClick (e, item) {
        e.stopPropagation()

        if (item.to === '/') {
          this.$vuetify.goTo(0)
          this.setDrawer(false)
          return
        }

        if (item.to || !item.href) return

        this.$vuetify.goTo(item.href)
        this.setDrawer(false)
      }
    }
  }
</script>
