<template>
  <div>
    <v-app-bar
      app
      text
    >
      <v-app-bar-nav-icon
        class="hidden-md-and-up"
        @click="toggleDrawer"
      />
      <v-container
        mx-auto
        py-0
      >
        <v-layout>
          <v-img
            :src="require('../../assets/logo2.png')"
            class="mr-5"
            contain
            height="48"
            width="48"
            max-width="48"
            @click="$vuetify.goTo(0)"
          /><div style="display: flex" class="mt-2">
          <v-btn
            class="ml-0 hidden-sm-and-down"
            text
            @click="goToRoute('index')"
          >
            Лента
          </v-btn>
          <v-btn
            class="ml-0 hidden-sm-and-down"
            text
            @click="goToRoute('interesting')"
          >
            Интересное
          </v-btn>
          <v-btn
            class="ml-0 hidden-sm-and-down"
            text
            @click="goToRoute('my_news')"
          >
            Мои новости
          </v-btn>

          <v-btn
            class="ml-0 hidden-sm-and-down"
            text
            @click="goToRoute('grants')"
          >
            Гранты
          </v-btn>

          <v-btn
            class="ml-0 hidden-sm-and-down"
            text
            @click="goToRoute('search')"
          >
            Поиск
          </v-btn>
        </div>
          <v-spacer />
          <v-text-field
            append-icon="mdi-magnify"
            text
            hide-details
            solo-inverted
            style="max-width: 350px;"
          />
          <v-btn color="success" text outlined class="my-auto ml-3" nuxt to="/new_article">Написать</v-btn>

          <v-btn icon class="ml-5" color="blue" @click="navigator = !navigator">
            <v-icon dark>mdi-account</v-icon>
          </v-btn>
        </v-layout>
      </v-container>
    </v-app-bar>
    <navigation v-model="navigator"/>
  </div>
</template>

<script>
  // Utilities
  import {
    mapGetters,
    mapMutations
  } from 'vuex'
  import Navigation from '../common/Navigation'

  export default {
    data () {
      return {
        navigator: false
      }
    },
    components: { Navigation },
    computed: {
      ...mapGetters(['links'])
    },

    methods: {
      ...mapMutations(['toggleDrawer']),
      goToRoute(route) {
        this.$router.push({name: route})
      },
      onClick (e, item) {
        e.stopPropagation()

        if (item.to || !item.href) return

        this.$vuetify.goTo(item.href)
      }
    }
  }
</script>
