<template>
  <div>
    <div style="display:flex;" class="mt-2">
      <v-spacer/>
<!--      <v-btn color="success" class="mt-3" style="margin-right: 30px">-->
<!--        Добавить грант-->
<!--      </v-btn>-->
    </div>

    <v-container>
      <v-layout row wrap>

        <v-flex xl3 lg4 md6 xs12 class="margin" v-for="grant in grants">
          <v-card height="300px" class="background" @click="openGrant(grant.id)">
            <div class="description">
              <div>
                {{ grant.name }}
              </div>
            </div>
            <div class="amount">
              {{ grant.amount }} ₽
            </div>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import gql from 'graphql-tag'

export default {
  name: 'grants',
  data() {
    return {
      grants: []
    }
  },
  apollo: {
    query: {
      query: gql`
      {
        getGrants {
          id
          name
          amount
        }
      }`,
      update(data) {
          // console.log('vvv', this.$$auth.hasPerm)
        this.grants.push(...data.getGrants)
        this.grants.push(...data.getGrants)
        this.grants.push(...data.getGrants)
        this.grants.push(...data.getGrants)
      }
    }
  },
  methods: {
    openGrant(id) {
      window.open(`/grant/${id}`)
    }
  }
}
</script>

<style scoped>
.margin {
  padding-right: 10px;
  padding-top: 10px;
  padding-left: 10px;
}

.background {
  background-image: url(https://mentalandbodycare.com/wp-content/uploads/2015/03/man-women-people-happy-summer-1680x1050.jpg);
  background-position: left left;
  background-size: 100%;
}

.description {
  position: absolute;
  left: 10px;
  top: 5px;
  right: 10px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 15pt;
  text-shadow: 3px 3px 3px black;
  padding: 10px;
}

.amount {
  position: absolute;
  right: 10px;
  bottom: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 17pt;
  text-shadow: 3px 3px 3px black;
  padding: 10px;
}
</style>