<template>
  <div id="home">
    <articles>
      <banner />
    </articles>
    <about />
    <subscribe />
    <social />
  </div>
</template>

<script>
  import About from '../components/home/About'
  import Banner from '../components/home/Banner'
  import Articles from '../components/home/Articles'

  export default {
    name: 'hot',
    components: {
      About,
      Banner,
      Articles,
      Social: () => import('../components/home/Social'),
      Subscribe: () => import('../components/home/Subscribe')
    },
    asyncData({ store }) {
      store.dispatch('getPagedArticles', { page: 1, offset: 11 })
    },
    methods: {
      fetchArticles() {
        console.log('qwt')
      }
    }
  }
</script>

<style scoped>

</style>