<template>
  <div>
    <v-container grid-list-xl>
      <v-layout wrap>

        <feed-card
          v-for="(article, i) in paginatedArticles"
          :key="article.title"
          :size="3"
          :value="article"
        />
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'myNews',
  components: {
    FeedCard: () => import('../components/FeedCard')
  },
  data() {
    return {
      layout: [3, 3, 3, 3, 3, 3, 3, 3]
    }
  },
  computed: {
    ...mapState(['articles']),
    paginatedArticles() {
      // const start = (this.page - 1) * 11
      // const stop = this.page * 11
      return this.articles.slice(0, 11)
    }
  },
  mounted() {
    this.$store.dispatch('getPagedArticles', { page: 0, offset: 11 })
  }
}
</script>

<style scoped>

</style>