<template>
  <section class="container">
    <div class="headline">Создание новой статьи</div>
    <v-text-field
      v-model="article.title"
      outlined
      label="Заголовок"
      class="mt-4"
      counter="100"
    />
    <v-file-input
      v-model="article.titleImage"
      label="Заглавное изображение"
      prepend-icon="mdi-camera"
      clearable
      outlined
    />
    <v-text-field
      v-model="article.headline"
      label="Аннотация"
      outlined
      counter="250"
    />
    <div
      v-quill:myQuillEditor="editorOption"
      class="quill-editor"
      style="font-size: 18px"
      :content="article.text"
      @change="onEditorChange($event)"
      @blur="onEditorBlur($event)"
      @focus="onEditorFocus($event)"
      @ready="onEditorReady($event)"
    ></div>
    <v-combobox
      v-model="article.tags"
      :items="tags"
      chips
      multiple
      deletable-chips
      outlined
      dense
      class="mt-5 mb-0"
      item-text="name"
      item-value="name"
    />
    <no-ssr>
      <region-select v-model="article.region" class="mt-0 pt-0" />
    </no-ssr>
    <v-btn @click="createArticle">
      Отправить на модерацию
    </v-btn>
  </section>
</template>

<script>
import gql from 'graphql-tag'
import { CREATE_ARTICLE } from '../graphql/mutation'
import RegionSelect from '../components/common/RegionSelect'

export default {
  components: { RegionSelect },
  head () {
    return {
      script: [
        { src: 'https://unpkg.com/marked@0.3.6' },
        { src: 'https://unpkg.com/lodash@4.16.0' }
      ]
    }
  },
  apollo: {
    tags: {
      query: gql`
        {
          tags: getAllTags {
            name
          }
        }
      `
    }
  },
  data() {
    return {
      article: {
        title: '',
        text: '',
        region: null,
        tags: [],
        titleImage: null,
        headline: null
      },
      editorOption: {
        placeholder: 'Введите текст статьи',
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block'],
            [{ header: 1 }, { header: 2 }],
            [{ list: 'ordered' }, { list: 'bullet' }],
            [{ script: 'sub' }, { script: 'super' }],
            [{ indent: '-1' }, { indent: '+1' }],
            [{ direction: 'rtl' }],
            [{ size: ['small', false, 'large', 'huge'] }],
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ font: [] }],
            [{ color: [] }, { background: [] }],
            [{ align: [] }],
            ['clean'],
            ['link', 'image', 'video']
          ]
        }
      }
    }
  },
  watch: {
    article: {
      handler(newVal) {
        console.log(newVal)
      }
    }
  },
  mounted() {
    console.log('app init, my quill insrance object is:', this.myQuillEditor)
    setTimeout(() => {
      this.content = 'i am changed'
    }, 3000)
  },
  methods: {
    onEditorBlur(editor) {
      console.log('editor blur!', editor)
    },
    onEditorFocus(editor) {
      console.log('editor focus!', editor)
    },
    onEditorReady(editor) {
      console.log('editor ready!', editor)
    },
    onEditorChange({ editor, html, text }) {
      function replaceAll(str, find, replace) {
        return str.replace(new RegExp(find, 'g'), replace);
      }
      html = replaceAll(html, '<img', '<img style="width: 80%; display: block;" class="mx-auto"')
      this.article.text = html
    },
    createArticle() {
      this.loading = true
      const article = this.article
      article.tags = article.tags.map(tag => {
        if (typeof tag === 'string') return tag
        return tag.name
      })
      this.$apollo
        .mutate({
          mutation: CREATE_ARTICLE,
          variables: {
            article
          },
          context: {
            hasUpload: !!this.article.titleImage
          }
        })
        .then(({ data }) => {
          this.$router.push(`/article/${data.createArticle.articleId}`)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  width: 60%;
  margin: 0 auto;
  padding: 50px 0;
  .quill-editor {
    min-height: 200px;
    max-height: 400px;
    overflow-y: auto;
  }
}
</style>
