<template>
  <div>
    <v-card width="800" style="margin: auto" class="pt-3 mb-5">
      <v-card-title>
        Профиль
      </v-card-title>
      <v-card-text>
        <v-form v-model="valid">
          <v-layout row wrap>
            <v-flex xs4 class="ml-4">
              <form enctype="multipart/form-data" method="post" @change="handleFileChange($event)">
                <input id="abc" type="file" class="hidden">
                <label for="abc" class="upload-file">
                  <avatar v-if="avatarFlag" ref="avatar" size="150"/>
                </label>
              </form>
            </v-flex>

            <v-flex xs7>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    label="ФИО*"
                    v-model="username"
                    outlined
                    required
                    :rules="[required]"
                  />
                </v-flex>
                <v-flex xs12>
                  <v-text-field
                    label="Email*"
                    v-model="email"
                    outlined
                    required
                    :rules="[required, emailRul]"
                  />
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12>
              <v-textarea
                label="Биография"
                v-model="bio"
                outlined
              />
            </v-flex>
          </v-layout>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-spacer/>
        <v-btn color="success" :disabled="!valid" @click="saveProfileData">
          Сохранить
        </v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import gql from 'graphql-tag'
import Avatar from '../components/common/Avatar'

export default {
  name: 'profile',
  components: { Avatar },
  data() {
    return {
      valid: false,
      username: '',
      email: '',
      bio: '',
      avatarUrl: null,
      openAvatarUpdate: false,
      avatarFlag: true,
      required: value => !!value || 'Поле не может быть пустым',
      emailRul: value => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || 'Неверный формат email'
      }
    }
  },
  methods: {
    saveProfileData() {
      this.$apollo.mutate({
        mutation: gql`
          mutation ($userId: Int!, $username: String, $email: String, $bio: String) {
            editUser(userId:$userId, username: $username, email: $email, bio: $bio) {
              user {
                id
              }
            }
          }`,
        variables: {
          userId: this.$$user.id,
          username: this.username,
          email: this.email,
          bio: this.bio
        }
      }).then(data => {
        this.$$user.username = this.username
        this.$$user.email = this.email
        this.$$user.bio = this.bio
      })
    },
    handleFileChange(event) {
      if (event.target.files[0]) {
        this.file = event.target.files[0]
        this.uploadFile(this.file)
      }
    },
    uploadFile(file) {
      this.$apollo.mutate({
        mutation: gql`
          mutation ($file: Upload!) {
            avatarUpload(file:$file) {
              success
            }
          }
        `,
        variables: {
          file: file
        },
        context: {
          hasUpload: true
        }
      }).then(data => {
        location.reload()
      })
    }
  },
  mounted() {
    this.username = this.$$user.username
    this.email = this.$$user.email
    this.bio = this.$$user.bio
  }
}
</script>

<style scoped>
.hidden {
  display: none;
  cursor: pointer;
}

.upload-file {
  padding-left: 30px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

</style>