<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <registration-box />
    </v-layout>
  </v-container>
</template>

<script>
import RegistrationBox from '../components/users/RegistrationBox'

export default {
  layout: 'registration',
  components: { RegistrationBox }
}
</script>

<style scoped>

</style>