<template>
  <span>
    <img :src="imgUrl" :style="style" class="circle"/>
  </span>
</template>

<script>
export default {
  name: 'Avatar',
  props: {
    size: String
  },
  computed: {
    imgUrl() {
      return 'http://localhost:8000/download?user_id=' + this.$$user.id
    },
    style() {
      return `width: ${this.size}px; height: ${this.size}px;`
    }
  }
}
</script>

<style scoped>
.circle {
  border-radius: 500px;
}
</style>