<template>
  <div>
    <v-navigation-drawer
      v-model="drawer"
      absolute
      right
      temporary
    >

      <v-layout row wrap>
        <v-flex xs4 class="ml-7 mt-2">
          <avatar size="50"/>
        </v-flex>
        <v-flex xs5 class="mt-5">
          {{ $$user.username }}
        </v-flex>
      </v-layout>

      <v-list
        nav
        dense
      >
        <v-list-item-group
          active-class="deep-purple--text text--accent-4"
        >
          <v-list-item @click="open('/profile')">
            <v-list-item-title>Профиль</v-list-item-title>
          </v-list-item>

          <v-list-item>
            <v-list-item-title>Публикации</v-list-item-title>
          </v-list-item>

          <v-list-item @click="exit">
            <v-list-item-title>Выход</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script>
import Avatar from './Avatar'
export default {
  name: 'Navigation',
  components: { Avatar },
  props: {
    value: Boolean
  },
  data() {
    return {
      drawer: false
    }
  },
  methods: {
    open(link) {
      this.$router.push({path: link})
    },
    exit() {
      this.$$auth.logout().then(data => {
        this.$router.push({path: '/login'})
      })
    }
  },
  watch: {
    value: function(newVal) {
      this.drawer = newVal
    },
    drawer: function(newVal) {
      this.$emit('input', newVal)
    }
  }
}
</script>

<style scoped>
.header {
  padding-left: 10px;
  margin-bottom: 10px;
}

.font-size {
  font-size: 15pt;
}
</style>