<template>
  <div>
    <v-autocomplete
      v-model="innerValue"
      :items="regions"
      label="Регионы"
      :search-input.sync="queryString"
      item-text="name"
      item-value="id"
      clearable
      outlined
    >
    </v-autocomplete>
  </div>
</template>

<script>
import utilsMixin from '../../utils/utilsMixin'
import gql from 'graphql-tag'

export default {
  name: 'VolunteerSelect',
  props: {
    value: {
      type: [String, Number],
      default: null
    }
  },
  mixins: [utilsMixin],
  apollo: {
    regions: {
      query: gql`
        {
          getAllRegions {
            id
            name
          }
        }
      `,
      update(data) {
        return data.getAllRegions
      }
    }
  },
  data() {
    return {
      innerValue: null,
      queryString: '',
      regions: []
    }
  },
  watch: {
    innerValue(newVal) {
      this.$emit('input', newVal)
    },
    tags(newVal) {
      console.log(newVal)
    }
  }
}
</script>

<style scoped></style>
