<template>
  <div>
    <v-autocomplete
      v-model="innerValue"
      :items="volunteers"
      label="Воронтеры"
      :search-input.sync="queryString"
      item-text="username"
      item-value="id"
    >
      <template slot="item" slot-scope="item">
      <v-layout>
        <v-row>
          <v-col v-if="item.item.photo" cols="1">
            <img :src="item.item.photo.large" height="70px"/>
          </v-col>
          <v-col>
            <div style="margin-top: 20px">
              {{ item.item.username }}
            </div>
          </v-col>
        </v-row>
      </v-layout>
      </template>
    </v-autocomplete>
  </div>
</template>

<script>
import utilsMixin from '../../utils/utilsMixin'
import _ from 'lodash'

export default {
  name: 'VolunteerSelect',
  props: {
    value: String
  },
  data() {
    return {
      innerValue: null,
      queryString: '',
      volunteers: []
    }
  },
  mixins: [utilsMixin],
  methods: {
    searchOperation: _.debounce(function () {
      this.getVolunteers(this.queryString).then(data => {
        console.log(data.results)
        this.volunteers = data.results
      })
    }, 500),
  },
  watch: {
    queryString: function() {
      console.log('Hello 1')
      this.searchOperation()
    },
    value: function(newVal) {
      this.innerValue = newVal
    },
    innerValue: function(newVal) {
      this.$emit('input', newVal)
    }
  }
}
</script>

<style scoped>

</style>