<template>
  <v-flex xs12 sm8 md4>
    <v-form ref="form" v-model="valid" @submit.prevent="submit">
      <v-card class="elevation-12">
        <v-toolbar dark color="primary">
          <v-toolbar-title>Регистрация</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
          <v-text-field
            v-model="username"
            name="login"
            label="ФИО"
            type="text"
            :rules="[required]"
          ></v-text-field>
          <v-text-field
            label="Email*"
            v-model="email"
            required
            :rules="[required, emailRul]"
          />
          <v-text-field
            id="password"
            v-model="password"
            name="password"
            label="Пароль"
            :rules="[required]"
            type="password"
          ></v-text-field>

          <date-picker
            label="День рождение"
            v-model="birthDate"
          />

          <v-select
            label="Тип пользователя"
            v-model="userTypeId"
            :items="userTypeItems"
            item-text="name"
            item-value="id"
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" @click="createUser">Зарегистрироваться</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-flex>
</template>

<script>
import DatePicker from '../common/DatePicker'
import gql from 'graphql-tag'

export default {
  name: 'RegistrationBox',
  components: { DatePicker },
  data() {
    return {
      username: '',
      email: '',
      password: '',
      birthDate: '',
      userTypeId: null,
      userTypeItems: [],
      loginRules: [
        v => !!v || 'Необходимо ввести логин',
        () => (this.requestFail ? 'Проверьте логин' : true)
      ],
      passRules: [
        v => !!v || 'Необходимо ввести пароль',
        () => (this.requestFail ? 'Проверьте пароль' : true)
      ],
      required: value => !!value || 'Поле не может быть пустым',
      emailRul: value => {
        const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return pattern.test(value) || 'Неверный формат email'
      }
    }
  },
  apollo: {
    query: {
      query: gql`{
        getUserTypes {
          id
          name
        }
      }`,
      update(data) {
        this.userTypeItems = data.getUserTypes
      }
    }
  },
  methods: {
    createUser() {
      this.$apollo.mutate({
        mutation: gql`
          mutation ($birthDate:Date!, $email:String!, $password:String!, $userTypeId:String!, $username:String!) {
            createUser (birthDate:$birthDate, email:$email, password:$password , userTypeId:$userTypeId, username:$username) {
              newUser {
                id
              }
            }
          }`,
        variables: {
          birthDate: this.birthDate,
          email: this.email,
          password: this.password,
          userTypeId: this.userTypeId,
          username: this.username
        }
      }).then(data1 => {
        this.$router.push({ path: '/login' })
      })
    }
  }
}
</script>

<style scoped>

</style>