<template>
  <section id="feed">
    <feed>
      <slot />
    </feed>
  </section>
</template>

<script>
  import Feed from '../Feed'
  export default {
    components: {
      Feed
    }
  }
</script>
