<template>
  <v-row>
    <v-col cols="8">
      <v-carousel>
        <v-carousel-item
          v-for="(item,i) in items"
          :key="i"
          :src="item"
          reverse-transition="fade-transition"
          transition="fade-transition"
          :continuous="true"
          :cycle="true"
          interval="5000"
        ></v-carousel-item>
      </v-carousel>
    </v-col>
    <v-col cols="4">
      <h2>Герои нашего города</h2>
      <div class="pt-2">
        <v-card class="my-2">
          <v-card-title>Васильев Андрей Михайлович</v-card-title>
          <v-card-text>
            <span style="font-size: 13pt">Участвовал в мероприятиях:</span>
            - Уборка территории больницы г. Казань
            - Помощь сиротам приюта
            - Пожертвования в фонд защиты детей
          </v-card-text>
        </v-card>

        <v-card class="my-2">
          <v-card-title>Гордеев Сергей Петрович</v-card-title>
          <v-card-text>
            <span style="font-size: 13pt">Участвовал в мероприятиях:</span>
            - Кормление бездомных
            - Сдача крови
            - Сбор мусора на улицах города
          </v-card-text>
        </v-card>

        <v-card class="my-2">
          <v-card-title>Попов Андрей Михайлович</v-card-title>
          <v-card-text>
            <span style="font-size: 13pt">Участвовал в мероприятиях:</span>
            - Кормление живтных приюта
            - Помощь сиротам приюта
            - Пожертвования в фонд защиты детей
          </v-card-text>
        </v-card>
      </div>
    </v-col>
  </v-row>

</template><script>
  export default {
    data () {
      return {
        items: [
          require('../../assets/articles/photo_2019-09-29_08-36-32.jpg'),
          require('../../assets/articles/photo_2019-09-29_08-39-34.jpg'),
          require('../../assets/articles/photo_2019-09-29_02-28-00.jpg'),
          require('../../assets/articles/photo_2019-09-29_02-27-14.jpg'),
        ],
        colors: [
          'primary',
          'secondary',
          'yellow darken-2',
          'red',
          'orange',
        ],
      }
    },
  }
</script>
