<template>
  <v-container
    id="subscribe"
    tag="section"
  >
    <v-card
      color="rgba(203, 170, 92, 0.51)"
      class="pa-3"
    >
      <v-container
        grid-list-xl
        pa-0
      >
        <v-layout wrap>
          <v-flex
            xs12
            md5
          >
            <h3 class="mb-3">
              Подписаться
            </h3>
            <p>
              Введите ваш адрес электронной почты чтобы получать
              уведомления о новых постах и интересных новостях.
            </p>

            <v-layout
              wrap
              pa-2
            >
              <v-text-field
                solo
                hide-details
                style="max-width: 400px;"
              />
              <v-btn
                :block="$vuetify.breakpoint.xsOnly"
                class="ma-0"
                color="secondary"
                style="height: 48px"
              >
                Подписаться на рассылку
              </v-btn>
            </v-layout>
          </v-flex>
          <v-flex
            xs12
            md6
            offset-md1
          >
            <h3>Контакт</h3>
            <v-list class="transparent">
              <v-list-item>
                <v-list-item-avatar
                  color="primary"
                >
                  <v-icon
                    class="elevation-4"
                    dark
                  >
                    mdi-email-outline
                  </v-icon>
                </v-list-item-avatar>
                <v-list-item-title>EMAIL</v-list-item-title>
                <v-list-item>
                  example@example.com
                </v-list-item>
              </v-list-item>
              <v-list-item>
                <v-list-item-avatar
                  color="primary"
                >
                  <v-icon
                    class="elevation-4"
                    dark
                  >
                    mdi-map-marker
                  </v-icon>
                </v-list-item-avatar>
                <v-list-item-title>АДРЕСС</v-list-item-title>
                <v-list-item>
                  г. Москва улица Мира 94
                </v-list-item>
              </v-list-item>
              <v-list-item>
                <v-list-item-avatar
                  color="primary"
                >
                  <v-icon
                    class="elevation-4"
                    dark
                  >
                    mdi-phone
                  </v-icon>
                </v-list-item-avatar>
                <v-list-item-title>ТЕЛЕФОН</v-list-item-title>
                <v-list-item>
                  8-800-555-35-35
                </v-list-item>
              </v-list-item>
            </v-list>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-container>
</template>
